@media only screen and (max-width:1439px){
   /*FOOTER*/
  .footer__menu{
    padding-left: 0;
  }

  .footer__conditions{
    gap:15px;
  }
  .footer__descr-list{
    gap:15px;
  }
  .descr__img-iPhone {
    max-width: 95vw;
    max-height:78vh;
  }
  .descr__title {
    padding-top: 50px;
  }
  .descr__text{
    padding-top: 150px;
  }
}
@media only screen and (max-width:1040px){
    /*HEADER*/
  .container-header {
    max-width: 1024px;
    padding: 30px 15px 0 50px;
  }
  .player-nav{
    gap:40px;
  }
  .player-nav__list {
    gap: 40px;
  }
  .descr-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .descr__title {
    font-size: 110px;
    padding-top: 0px;
  }
  .descr__text {
    padding-top: 60px;
  }


  /*FOOTER*/
  .footer__container{
    max-height: 536px;
    padding:50px;
    gap:15px;
  }
  .footer__menu{
    padding-left: 0;
  }
  .footer__list{
    max-width: 1040px;
    justify-content: space-between;
    gap:50px;
  }
  .footer__link {
    font-size: 12px;
    max-width: 280px;
  }
  .footer__descr-list {
    gap:50px;
  }

}

@media only screen and (max-width:850px){
    /*HEADER*/
.descr__img-iPhone{
  max-width: 360px;
}
.descr__title{
  font-size: 90px;
  max-width: 300px;
  max-height: 160px;
}
.player-header__descr {
  justify-content: flex-start;
}
.footer__menu-btn {
  display: none;
}
}
@media only screen and (max-width:768px){
    /*FOOTER*/
  .footer__container{
    padding-top: 40px;
  }
  .footer__menu{
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    align-items: flex-end;
    gap:10px;
    position: relative;
  }
  .footer__list{
    gap: 10px;
    width: 95%;
    line-height: 1.1;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    transform: translateX(-200%);
    transition: transform 2s ease;
    top: 0;
    bottom: auto;
    background-color: black;
  }
  .footer__item {
    width: 100%;
    height: auto;
    position: relative;
  }
  .footer__link--title {
    position: relative;
  }
  .footer__link--title::after{
    display: inline-flex;
    content: "";
    background-image: url(../img/arrow-right.svg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

  }
    .footer__item-submenu{
    display: none;
  }
 
    .footer__item-title:hover .footer__link--title::after{
      transform: rotate(90deg);
    }
    .footer__item-submenu {
      height: auto;
      width: 230px;
      border: 1px solid #D53005;
      border-radius: 25px;
    }
  
    .footer__item-title:hover .footer__item-submenu{
      padding: 5px 25px;
      display: block;
      }
      .footer__item-record:hover {
      color:#EDA61D;
      }
  .footer-list--open{
    transform: translateX(0%);
    transition:transform 2s ease;
  }

  .footer__conditions{
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(0%);
    transition:transform 2s ease;
  }
  .footer__descr-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .footer__conditions--open{
    transform: translateX(250%);
    transition:transform 2s ease;
  }
  
  .footer__menu-btn {
    max-width: 100px;
    right:5%;
    cursor: pointer;
    z-index: 20;
    display: block;
    color: #fff;
    border: solid 1.5px #D53005;
    border-radius:25px;
    padding: 10px;
  }
}
@media only screen and (max-width:660px) {
/*HEADER*/
  .page__wrapper{
    padding:40px 0 100px 15px;
  }
  .descr__title {
    font-size: 64px;
    max-width: 200px;
}
  .descr__text {
    padding-top: 0;
    max-width:140px;
    font-size: 12px;
}
.descr__img-iPhone {
  max-width: 280px;
}
/*FOOTER*/
.footer__descr-list {
  gap: 10px;
}
@media only screen and (max-width:530px) {
/*HEADER*/
.container-header {
  padding: 15px 5px 0 5px;
  max-width: 350px;
  gap:0;
}
.player-nav {
  gap: 20px;
  margin: 0;
  padding-left: 0;
  justify-content: flex-start;
}
.player-nav__list {
  gap: 20px;
}
.player-header__descr {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.descr__title {
  max-width: 100%;
}
.descr__img-iPhone {
  max-width: 95vw;
  max-height: 60vh;
}
.descr__text {
  margin: 0;
  max-width: 100%;
}
  /*FOOTER*/
  .footer__link--title {
    font-size: 14px;
  }
}
@media only screen and (max-height:625px) {
  /*HEADER*/
  .descr__title {
    font-size: 35px;
  }
  .descr__text {
    height: 10px;
  }
}
@media only screen and (max-height:480px) {
  /*HEADER*/
  .player-header__descr {
    flex-direction: row;
}
}
@media only screen and (max-width:410px) {
  /*HEADER*/
  .container-header {
    padding: 10px 5px 0 5px;
    max-width: 350px;

}
.player-nav{
  height: auto;
}
.player-nav__list {
  flex-direction: column;
  position: absolute;
  color: black;
  background-color: #EDA61D;
  top:0;
  left: 0;
  right:auto;
  min-width: 100px;
  min-height: 180px;
  gap:0;
  transform: translateX(-100%);
  transition:transform 0.5s ease-in-out;
}
.player-nav__list--open {
  transform: translateX(0%);
  transition:transform 0.5s ease-in-out;
}
.player-nav__item{
  padding: 10px;
  margin: 0 auto;
}
.player-nav__link {
  transition:color 0.2s ease-in-out;
}
.player-nav__link:hover {
  color:#D53005;
}
.nav-btn {
  display: flex;
}
.descr__text {
  height: 15px;
}
/*FOOTER*/
.footer__container{
  padding: 15px 10px;
}
.footer__link-logo{
  font-size: .8em;
}
.footer__link--descr {
  font-size: .2em;
}
}
@media only screen and (max-width:360px) {
/*HEADER*/
.container-header {
  padding: 10px 5px 0 5px;
  max-width: 300px;
  gap:0.5em;
}
.player-logo__link {
  font-size: 45px;
}
.descr__title {
  font-size: 2em;
}
.descr__text {
  font-size: 0.4em;
}
.descr__img{
  padding-top: 1.5em;
}
/*FOOTER*/
.footer__menu-btn{
  font-size: 0.6em;
}

}
@media only screen and (max-width:359px) {
  
  
  .footer__item-submenu {
    width: 130px;
    white-space: wrap;
    line-height: 0.3;
  }
  .footer__item-record {
    font-size: 20px;

  }
  .footer__link {
    font-size:8px; 
  } 
}
  /*

  .music-content {
    flex-direction: column;
    gap:15px;
    /*position: static;*/
  
  /* MAIN-PAGE */
/* Секция Music */
/*.page__wrapper {
  gap:20px;
}
  .music__descr {
    flex-direction:row;
    align-items: center;
    gap:40px;
  }
  .music__button{
    width: 253px;
    height: 75px;
  }
  .music__link {
    font-size: 30px;
  }
  .music-img {
    width: 720px;
    top: 50px;
    right: 0;
    left:auto;

  }
  /* Секция About */
  /*.about__content {
    padding: 20% 50px;
  }
  .about__descr {
    padding-left: 53px;
    max-width: 750px;
  }
  /* Секция Store */
  /*.page__wrapper{
  max-width: 900px;
}
  .store__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;

  }
  .store__descr-img--max {
    display:block;
    max-width: 600px;
    left:auto;
    right: 0;
    top:180px;
  }

  .store__descr {
    width: 100%;
  }
  .store__descr-list {
    padding:15px;
    display: flex;
    flex-direction: column;
    height: 170px;
    flex-wrap: wrap;
    gap:15px;
    width: 100%;
    
  }
  .descr-item__list-inner{
    position: static;
    width: 40%;
  }
  .descr-list-inner{
    left: auto;
    right:7%;
  }
  .descr-item__download{
    max-width: 30%;
  }**/


/*@media only screen and (max-width:1000px)
  .container-header {
    padding:20px 5px 0 30px;

  }
*/


@media only screen and (max-width:992px){


/* Секция Music 
.music__link {
  padding-top: 10px;;
  font-size: 20px;
}
.music__button {
  max-width: 150px;
  max-height: 45px;
}
.music__descr {
  gap: 130px;
}
  /* Секция About 
  .about__descr {
    font-size: 24px;
  }
/* Секция Store 
.download__button {
  font-size: 13px;
}
.item-inner__text--bold{
  font-size: 16px;
}
.item-inner__text{
  font-size: 14px;
}

.descr-list-inner{
  padding-left: 20px;
}
.store__descr-img--max{
  max-width:500px;
  top:225px;
}
.download__button {
  width: 182px;
}
  /*FOOTER
.footer__link{
  font-size: 12px;
  line-height: 1.3;

}
.footer__link--title{
  font-size: 15px;
}
.footer__descr-list>.footer__link {
  font-size:10px;
  width: 160px;
}
.footer__descr-list {
  gap: 20px;
}
.footer__condition>.footer__link {
  font-size: 10px;
}
}
/*@media only screen and (max-width:768px){
  

Секция Music
.main-page__title{
  padding-left: 25px;
}
.music-img{
  max-width:600px;
}

  /* Секция About 
  .about__content{
    padding: 50% 20px;

  }
  .about__descr {
    font-size: 18px;
    padding-left: 0px;
  }
/* Секция Store 
.store__descr {

}
.item-inner__text {
  display: none;
  max-width: 160px;
}
.descr-item__list-inner{
  max-width: 130px;
}
.item-inner__text--bold {
  display: block;

}
.store__descr-list{
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  height: 140px;
  max-width: 100%;
  padding-right:100px;
}
.descr-list-inner {
  left:3%;
  right: auto;
  align-items: left;
  width:130px;
  max-width: 130px;
}
.store__descr-img--max{
  display: none;
}
.store__descr-img--min{
  display: block;
  max-width: 220px;
  position: static;
  margin: 0 auto;
}
.download__button  {
  width:100px;
}


}*/
@media only screen and (max-width:576px){

  /* Header 
  .container-header{
    padding: 10px;
  }
  .player-header__descr{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .player-nav{
    width: 100%;
    justify-content: space-between;
  }
  .descr_wrapper {
    width: 100%;
  }
  .player-nav__list{
    display: none;
  }

  .player-header__descr {
    padding-top: 20px;
  }
  .descr__title {
    font-size: 35px;
  }
  .descr__text {
    max-width: 200px;
  }
  .descr__img{
    height: auto;
    position: relative;
  }
  .descr__img-iPhone{
    max-width: 220px;
    right: 0;
    left: auto;
    top:0;
    bottom: 0;
    object-fit: cover;
  }
    .nav-btn{
    position: relative;
    display: block;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    z-index: 10;
    cursor: pointer;
    right: 0;
    left:auto;
  }
  .nav-btn::before,
  .nav-btn::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
  }
  .nav-btn::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
  }
  .nav-btn::after {
    bottom: 0;
  }
  .player-nav__list{
    background-color:#E4542A;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 3%;
    position: absolute;
    top:0;
    left:auto;
    height: 100vh;
    overflow: hidden;
    width: 70%;
    z-index: 11;
    right: -100%;
    transition: right 1s;
  }
  .player-nav__list>.player-nav__item>.player-nav__link{
    font-size: 2em;
  }
  .player-nav__list--open{
    right: 0%;
    transition: right 1s;
  }

  }


    /* Секция Music */
  /*.page__wrapper {
    height: auto;
    }
  .music-content {
    height: auto;
  }
  .music__descr {
    gap: 10px;
  } 
  .music__link {

    font-size: 12px;
  }
  .music__button {
    max-width: 100px;
    max-height: 35px;
}
  .music-img {
    max-width: 400px;
    max-height: auto;
    height: auto;
}*/
    /* Секция Store */
/* Секция Store */

@media only screen and (min-width:349px){

}