@media only screen and (min-width:1441px){
  .store__descr-img {
    position:static;
    right: 0;
    transform:translateX(0px);
}
  .store__descr-img--max {
    display: block;
  }
  .store__descr-img--min{
  display: none;
  }
  }

@media only screen and (max-width:1440px){
  /* Burger */
  .text__header {
    font-size: 1.6rem;
  }
   /*FOOTER*/
  .footer__menu{
    padding-left: 0;
  }

  .footer__conditions{
    gap:15px;
  }
  .footer__descr-list{
    gap:15px;
  }
  .descr__img-iPhone {
    max-width: 95vw;
    max-height:78vh;
  }
  .descr__title {
    padding-top: 50px;
  }
  .descr__text{
    padding-top: 150px;
  }
  /*Music*/
  .content__img {
    position: absolute;
    top:-127px;
  }
  .music-img {
    width: 70vw;
    height: auto;
    position: relative;
    left: 0;

  }
  .music-content {
    height: 70vh;
  }
  .music__descr{
    justify-content: flex-start;
  }
  .store__descr-img--max {
    display: block;
}
  .store__descr-img--min{
    display: none;
}

}

@media only screen and (max-width:1432px) {
  .container-page-header {
    padding: 3rem 6rem;
  }
  .burger-wrapper{
    max-width: 40.1875rem;
  }
  .catalog__list {
    gap:2.5rem 3.75rem;
  }
 /* Burger-footer */
  .footer-burger__list{
    padding: 6rem 2rem;
  }
}
@media only screen and (max-width:1366px) {
  .store__descr-img {
    width: 1087px;
    height: 685px;
    left: 325px;
    transform: translateX(0);
}
}
@media only screen and (max-width:1366px) and (max-height:768px){
  .store__descr-img {
    width: 1087px;
    height: 576px;
}
}
@media only screen and (max-width:1280px) {
  .store__descr-img {
    width: 980px;
    left: 337px;
}
 /* Burger-header */
  .logo {
    padding-right: 0;
  }
  .navigation{
    justify-content: flex-start;
  }
  .navigation_item:first-child,.navigation_item:nth-child(2),.navigation_item:nth-child(3){
    margin-right: 0;
  }
  .text__header{
    font-size: 1.4rem;
  }
}

@media only screen and (max-width:1040px){
    /*HEADER*/
  .container-header {
    max-width: 1024px;
    padding: 30px 15px 0 50px;
  }
  .player-nav{
    gap:40px;
  }
  .player-nav__list {
    gap: 40px;
  }
  .descr-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .descr__title {
    font-size: 110px;
    padding-top: 0px;
  }
  .descr__text {
    padding-top: 60px;
  }
  .descr__img {
    padding-top: 0;
  }
/*MUSIC*/
  .music-content {
    height: 70vh;
  }
  .music__descr {
    gap: 50px;
  }
  .music__button {
    width: 25vw;
    height: 7vh;
  }
  .music__link {
    font-size: 2em;
  }
  .content__img {
    top: -85px;
  }
  /*ABOUT*/
  .about__descr {
    max-width: 70vw;
    height: 72px;
    color: #FFF;
    font-family: Karla;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  .store__descr-img--max {
    display: block;
}
.store__descr-img--min{
  display: none;
}
  /*FOOTER*/
  .footer__container{
    max-height: 536px;
    padding:50px;
    gap:15px;
  }
  .footer__menu{
    padding-left: 0;
  }
  .footer__list{
    max-width: 1040px;
    justify-content: space-between;
    gap:50px;
  }
  .footer__link {
    font-size: 12px;
    max-width: 280px;
  }
  .footer__descr-list {
    gap:50px;
  }
}
@media only screen and (max-width:1024px) {
  html{
    font-size: 12px;
  }
     /* Burger-header */
  .navigation{
    justify-content: space-between;
    padding: 0;
  }
  .catalog__item{
    max-width:28.125rem;
  }
  .menu-burger__container{
    display:flex;
    padding-left: 30%;
  }
  .navigation_list{
    position: absolute;
    top:0;
    margin-top: 7.5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  #burger-toggle ~ .navigation_list .navigation_item {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #burger-toggle:checked ~ .navigation_list .navigation_item{
    border: 1px solid #333;
    height: 3.5rem;
    padding: 1rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  .navigation_list > .navigation_item {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .navigation_list > li:not(:last-child){
    border-bottom: 1px solid #444;
  }
  .text__header {
    padding-top: 11rem;
    line-height: 1.5rem;
  }
  .text_header-discount {
      padding: 1rem 0;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1rem;
  }

  .container_button-header{
    position: static;
    display: block;
    
  }
  .order_btn{
    display: block;
    position: static;
    text-align: center;
    padding: 5px 0;
    margin:0 auto;
    max-width:8rem ;
  }

  .footer-burger__list {
    padding: 2rem 2rem;
  }
  .store__descr-img--max {
  display: none;
}
  .page__wrapper{
    padding:40px 0 0px 15px;
  }
  .store__descr-img--min{
    position: absolute;
    display: block;
    width: 443px;
    max-width: 900px;
    max-height: 485px;
    left: 500px;
  }
  .store__descr {
    gap: 15px;
  }

@media only screen and (max-height:800px) {
  /*HEADER*/
  .container-header {
    gap:0;
  }
/*STORE*/
.store__descr-img--min {
  max-width: 50vw;
  max-height: 50vh;
}
}


@media only screen and (max-height:600px) {
  /*HEADER*/
  .container-header {
    gap:0;
  }
  .descr__text {
    padding-top: 0;
  }
  /*MUSIC*/
  .page__wrapper {
    gap: 5vh;
}
  .content__img {
    top: -45px;
  }
  .music__link {
    font-size: .8em;
    padding-top: 2px;
}
}
@media only screen and (max-width:850px){
  /* Burger-header */
  .container-page-header {
    padding: 2rem 3rem; 
}
.burger-wrapper {
  max-width: 20rem;
}
.text__header {
  padding-top: 3rem;
  line-height: 1.5rem;
}
  /*HEADER*/
.descr__img-iPhone{
  max-width: 360px;
}
.descr__title{
  font-size: 90px;
  max-width: 300px;
  max-height: 160px;
}
.player-header__descr {
  justify-content: flex-start;
}
/*Music*/
.music-content {
  flex-direction:column;
  align-items: center;
  gap:40px;
}
.music__descr {
  flex-direction:row;
  align-items: center;
  gap:40px;
}
.music__link {
  font-size: 1.5em;
}
/*STORE*/
.store__descr-img--min{
  left: 350px;
}
/*FOOTER*/
.footer__menu-btn {
  display: none;
}
}
@media only screen and (max-width:768px){
  /*Music*/
  .music__link {
    font-size: 1.2em;
    padding-top: .9vh;
  }
  .music-content {
    gap: 8vh;
}
.main-page__title{
  padding-left: 0px;
}

  /*FOOTER*/
  .footer__container{
    padding-top: 40px;
  }
  .footer__menu{
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    align-items: flex-end;
    gap:10px;
    position: relative;
  }
  .footer__list{
    gap: 10px;
    width: 95%;
    line-height: 1.1;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    transform: translateX(-200%);
    transition: transform 2s ease;
    top: 0;
    bottom: auto;
    background-color: black;
  }
  .footer__item {
    width: 100%;
    height: auto;
    position: relative;
  }
  .footer__link--title {
    position: relative;
  }
  .footer__link--title::after{
    display: inline-flex;
    content: "";
    background-image: url(../img/arrow-right.svg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

  }
    .footer__item-submenu{
    display: none;
  }
    .footer__item-title:hover .footer__link--title::after{
      transform: rotate(90deg);
  }
    .footer__item-submenu {
      height: auto;
      width: 230px;
      border: 1px solid #D53005;
      border-radius: 25px;
  }
  
    .footer__item-title:hover .footer__item-submenu{
      padding: 5px 25px;
      display: block;
  }
      .footer__item-record:hover {
      color:#EDA61D;
  }
  .footer-list--open{
    transform: translateX(0%);
    transition:transform 2s ease;
  }

  .footer__conditions{
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(0%);
    transition:transform 2s ease;
  }
  .footer__descr-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .footer__conditions--open{
    transform: translateX(250%);
    transition:transform 2s ease;
  }
  
  .footer__menu-btn {
    max-width: 100px;
    right:5%;
    cursor: pointer;
    z-index: 20;
    display: block;
    color: #fff;
    border: solid 1.5px #D53005;
    border-radius:25px;
    padding: 10px;
  }
}
@media only screen and (max-width:710px){
  .page__wrapper {
    gap:10px;
  }
/*STORE*/
.store__descr-img--min {
  position: static;
}
.store__content {
  position: relative;
  width: 100%;
  display: flex;
  height: 685px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: visible;
}
.store__descr-list{
  padding: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
}
.item-inner__text--regular{
  padding-bottom: 0.2em;
}
}
@media only screen and (max-width:660px) {
/* burger */
  .menu-burger__container{
    padding-left: 10%;
  }
  .footer-burger__list{
    gap:1.3125rem;
  }
/*HEADER*/
  .page__wrapper{
    padding:40px 0 100px 15px;
  }
  .descr__title {
    font-size: 64px;
    max-width: 200px;
}
  .descr__text {
    padding-top: 0;
    max-width:140px;
    font-size: 12px;
}
.descr__img-iPhone {
  max-width: 280px;
}
/*ABOUT*/
.about__descr {
  font-size: 1.3em;
}
/*FOOTER*/
.footer__descr-list {
  gap: 10px;
}
}
@media only screen and (max-width:530px) {
/*HEADER*/
.container-header {
  padding: 15px 5px 0 5px;
  max-width: 350px;
  gap:0;
}
.player-nav {
  gap: 20px;
  margin: 0;
  padding-left: 0;
  justify-content: flex-start;
}
.player-nav__list {
  gap: 20px;
}
.player-header__descr {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.descr__title {
  max-width: 100%;
}
.descr__img-iPhone {
  max-width: 95vw;
  max-height: 60vh;
}
.descr__text {
  margin: 0;
  max-width: 100%;
}
/*MUSIC*/
.music__descr {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.music__button {
  height: 6vh;
}
.music__link{
  font-size: .9em;
  padding-top: .9vh;
}
.music__button {
  width: 60vw;
}
/*STORE*/
.store__descr-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.download__button{
  font-size: 1em;
  max-height: 50px;
}
.item-inner__text--bold{
  font-size: 1em;
  padding-bottom: 0;
}
.item-inner__text--regular{
  font-size: 0.8em;
  padding-bottom: 0.2em;
}
  /*FOOTER*/
  .footer__link--title {
    font-size: 14px;
  }
}


@media only screen and (max-height:625px) {
  /*HEADER*/
  .descr__title {
    font-size: 35px;
  }
  .descr__text {
    height: 10px;
  }
  /*STORE*/
.store__descr-list{
  display: none;
}
.descr-list-inner{
padding-bottom: 0.5em;
}
}
@media only screen and (max-height:480px) {
  /*HEADER*/
  .player-header__descr {
    flex-direction: row;
}
  /*MUSIC*/
  .page__wrapper {
    padding: 10px 0 100px 5px;
}
.main-page__title {
  padding-left: 0;
}
.music__descr {
  gap: 7px;
}
  .music__button {
    height: 10vh;
}
.content__img{
  top:-35px;
}
.content__img {
  top: -55px;
}
  /*STORE*/
  .descr-list-inner{
    display: none;
  }
  .store__descr-img--min {
    max-height: 80vh;
}
}
@media only screen and (max-height:360px) {
  /*HEADER*/
  .player-header__descr {
    flex-direction: row;
}
  .container-header {
    padding: 10px 10px 0 50px;
    gap:0;
  }
  .player-logo__link {
    font-size: 50px;
  }

}
@media only screen and (max-width:480px){
  /* burger-menu */
  .burger-wrapper{
    display: none;
  }
  .menu-burger__container {
    padding:0;
}
  /*HEADER*/
  .descr__img-iPhone {
    max-height: 82vh;
  }
  .music-content {
    gap: 15vh;
  }
  .content__img {
    top: -35px;
  }
  .logo-img{
    max-width: 15rem;
    max-height: 3rem;
  }
}
@media only screen and (max-width:430px) {
  .main-page__title {
    font-size: 1.4em;
  }
  /*STORE*/
 .descr-list-inner{
  display: none;
}
.store__descr-list{
padding-bottom: 0.5em;
}
.store__descr-img--min {
  max-height: 60vh;
}

}
@media only screen and (max-width:410px) {
  /*HEADER*/
  .container-header {
    padding: 10px 5px 0 5px;
    max-width: 350px;

}
.player-nav{
  height: auto;
}
.player-nav__list {
  flex-direction: column;
  position: absolute;
  color: black;
  background-color: #EDA61D;
  top:0;
  left: 0;
  right:auto;
  min-width: 100px;
  min-height: 180px;
  gap:0;
  transform: translateX(-100%);
  transition:transform 0.5s ease-in-out;
}
.player-nav__list--open {
  transform: translateX(0%);
  transition:transform 0.5s ease-in-out;
}
.player-nav__item{
  padding: 10px;
  margin: 0 auto;
}
.player-nav__link {
  transition:color 0.2s ease-in-out;
}
.player-nav__link:hover {
  color:#D53005;
}
.nav-btn {
  display: flex;
}
.descr__text {
  height: 15px;
}
/*MUSIC*/
.content__img {
  top: -30px;
}
/*FOOTER*/
.footer__container{
  padding: 15px 10px;
}
.footer__link-logo{
  font-size: .8em;
}
.footer__link--descr {
  font-size: .2em;
}
}
@media only screen and (max-width:360px) {
/* burger-menu */
.container-page-header {
  padding: 1rem 1rem;
}
.container-catalog {
  padding: 0 5px;
}
.logo-img {
  max-width: 10rem;
  max-height: 3rem;
}
.menu-burger__btn, .menu-burger__btn::before, .menu-burger__btn::after{
  width:30px;
}
.menu-burger__btn::before{
  margin-top: -8px;
}
.menu-burger__btn::after{
  margin-top: 8px;
}
.navigation_button-img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}
.catalog-list{
  gap:1rem;
}
.catalog-title{
  font-size: 1.8rem;
  padding-bottom:1rem;
}
.catalog__text{
  font-size: 1.5rem;
  line-height:0.5rem;
}
.footer-burger__list{
  flex-direction: column;
}
.text__title{
  padding-top:1rem ;
}
.social__list {
  padding-top: 1rem;
}
.text__author {
    padding-top: 1rem;
}
  /*HEADER*/

.container-header {
  padding: 10px 5px 0 5px;
  max-width: 300px;
  gap:0.5em;
}
.player-logo__link {
  font-size: 45px;
}
.descr__title {
  font-size: 2em;
}
.descr__text {
  font-size: 0.4em;
}
.descr__img{
  padding-top: 1.5em;
}
/*STORE*/
.store__descr-img--min {
  max-height: 80vh;
}
/*FOOTER*/
.footer__menu-btn{
  font-size: 0.6em;
}

}
@media only screen and (max-width:320px) {
  
  /*ABOUT*/
  .about__descr {
    font-size: 1em;
  }
  .footer__item-submenu {
    width: 130px;
    white-space: wrap;
    line-height: 0.3;
  }
  .footer__item-record {
    font-size: 20px;

  }
  .footer__link {
    font-size:8px; 
  } 
}
