/*BURGER*/
/*HEADER*/
.page-header {
  max-width: 1600vw;
  background-image: linear-gradient(180deg, #EDA418 47.4%, rgba(237, 164, 24, 0.00) 100%);
}
.container-page-header {
  display: block;
  font-size: 1.5625rem;
  max-width: 100rem;
  max-height: 56.25rem;
  margin: 0 auto;
  padding: 6.5625rem 13.5625rem 6.625rem 8.125rem;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 73.25rem;
  height:3.125rem;
  padding-right: 5.0625rem;
}
.logo {
  display: block;
  margin-top: 0.5rem;
  padding-right: 5.92rem;
}
.logo-img {
  max-width: 22.1875rem;
  max-height: 4.5625rem;
}
.navigation_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.navigation_list > li{
  overflow: hidden;
}

.navigation_item {
  width: 9.5rem;
}

.navigation_item:first-child{
  margin-right:4.125rem;
}
.navigation_item:nth-child(2){
  margin-right: 1.9063rem;
}
.navigation_item:nth-child(3){
  margin-right: 3rem;
}

.navigation__title_main {
  font-size: 1.5625rem;
  font-weight: 500;
  text-decoration: none;
  color:black;
  text-align: left;

}
.navigation__title_main:hover {
  font-weight: 700;
}
.navigation_button {
  display: block;
  background-color: black;
  border: none;
  border-radius: 100%;
}
.navigation_button-img {
  max-width: 4.375rem;
  max-height: 4.375rem;
}
/* бургер-меню */

.menu-burger__container{
  display: none;
  height: 100%;
  width: 1.875rem;
  cursor:pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#burger-toggle{
  display: none;
}
.menu-burger__btn,.menu-burger__btn::before,.menu-burger__btn::after{
  display:block;
  background-color: #E62626;
  position: absolute;
  height: 4px;
  width:40px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
  border-radius: 2px;
}
.menu-burger__btn::before{
  content: '';
  margin-top: -12px;
}
.menu-burger__btn::after{
  content:'';
  margin-top:
  12px;
}
#burger-toggle:checked + .menu-burger__container .menu-burger__btn::before{
margin-top:0px;
transform:rotate(405deg);
}
#burger-toggle:checked + .menu-burger__container .menu-burger__btn{
  background: rgba(255, 255, 255, 0);
  }
#burger-toggle:checked + .menu-burger__container .menu-burger__btn::after{
  margin-top:0px;
  transform:rotate(-405deg);
}

.header-order__wrapper{
  flex:1 1 35.75rem;
  padding-top: 1.4375rem;
  display:flex;
  gap:2.375rem;
}
.burger-img {
  width:100%;
}
.header__list {
  flex:1 1 auto;
  max-width: 35.75rem;
  list-style: none;
}
.text__header {
  margin: 0;
  padding-right: 0;
  padding-top: 10.8125rem;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
}
.text_header-discount {
  padding: 1.875rem 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.container_button-header {
  display: block;
  width: 8.8912rem;
  height: 3.75rem;
  background-color: #E52626;
  border-radius: 3.125rem;
  position: relative;
}
.order_btn{
  position: absolute;
  width: 10.1788rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: left;
  top:0.875rem;
  left:1.125rem;
  color:#fff;
}

.page-main {
  margin: 0 auto;
  max-width: 100rem;
  min-height: 56.25rem;
  text-align: center;
}
.container-catalog {
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
}
.catalog-title {
  font-size: 2.8125rem;
  line-height: 3.4375rem;
  color: black;
  justify-content: center;
  padding-bottom: 2.375rem;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  /*margin-left: 15px;
  margin-top: 40px;*/
  padding:0;
  gap:40px 30px;
}
.catalog__item {
  width: 28.125rem;
}
.catalog__text {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 2.8125rem;
  color:black;
}

/*page-footer*/
.page-footer {
  width: 100vw;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #EDA61D 100%);
}
.footer-burger__wrapper{
  margin: 0 auto;
  max-width: 1000rem;
  max-height: 28.125rem;

}
.footer-burger__list {
  display: flex;
  justify-content: center;
  gap:6.3125rem;
  text-align: center;
  padding: 9.8125rem 22.3125rem 2.6875rem 17.4375rem;
}
.footer-burger__item {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color:#000;
}
.footer-burger__link:hover {
  font-weight:500;
  text-align: right;
}
.footer-burger__list-inner{
  font-weight: 500;
}
.text__title {
  padding-top: 2.8125rem;
}
.text__author{
  padding-top: 1.5rem;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding-top: 25px;
}
.social__link {
  display: block;
}
.social__img {
  transition-property: all;
  transition-duration: 0.3s;
}
.social__img:hover {
  width: 60px;
  height: 60px;
}
.player_button {
  color:#E52626;
  font-weight: 700;
}






/* Стили для Музыкального плэйера */
/* Музыкальный плэйр HEADER */
.player-header {
  width: 100vw;
  height: 100vh;
  background: url(../img/header-bg.svg), lightgray 50% / cover no-repeat;
}
.container-header {
  max-width: 1440px;
  padding: 47px 75px 0 115px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap:27px;

}
.player-nav {
  color: #FFF;
  display: flex;
  justify-content: start;
  align-items: center;
  gap:190px;
  padding-left: 7px;
}

.player-logo {

}
.player-logo__link {
  color: #FFF;
  font-family: "Libre Barcode 128 Text";
  font-size:80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.player-nav__list {
  display: flex;
  gap:100px;

}
.player-nav__item {
}
.player-nav__link {
  text-decoration: none;
  color:#FFF;
  font-family: Istok Web;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-btn{
  display: block;
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 17px;
  right: 20px;
  display: none;
  cursor:pointer;
}

.nav-btn__line {
  display: block;
  height: 4px;
  border-radius: 20%;
  background: #fff;
  width: 100%;
}
.player-header__descr {
  display: flex;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
}
.descr-wrapper {
  display: flex;
  flex-direction: column;
}
.descr__title {
  padding-top: 164px;
  display: block;
  max-width: 412px;
  max-height: 264px;
  color: #FFF;
  font-family: Kenia;
  font-size: 150px;
  

}
.descr__text {
  padding-top: 339px;
  display: block;
  max-width: 290px;
  height: 63px;
  color: #FFF;
  font-family: Istok Web;
  font-size: 20px;
  padding-left: 7px;
}
.descr__img {
  padding-top: 9px;
  display: block;
  border: none;
}
.descr__img-iPhone {
  max-width: 500px;
  max-height: 888px;

}

/* MAIN-PAGE */
/* Секция Music */
.main-page {
  width: 100vw;
  
}

.music {
  height: 100vh;
  background-color: #D53005;

}
.page__wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 83px 0 0 19px;
  display: flex;
  flex-direction: column;
  gap:61px;
}
.main-page__title {
  padding-left: 103px;
  color: #FFF;
  font-family: Karla;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.music-content {
  display: flex;
  position: relative;
  height: 666.5px;
}
.music__descr {
  display: flex;
  flex-direction: column;
  gap:88px;
  justify-content: center;

}
.music__button {
  width: 382px;
  height: 83px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  background: radial-gradient(2086.98% 134.85% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
  box-shadow: -4px -4px 30px 0px rgba(255, 255, 255, 0.10), 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
  text-align: center;
}
.music__link {
  display: block;
  color: #FFF;
  font-family: Karla;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 18px;

}
.music-img {
  width: 1000px;
  height: 666px;
  position: absolute;
  left: 318px;
  top:0;
}
/* Секция About */
.about {
  height: 100vh;
  background: linear-gradient(180deg, #D53005 0%, #000 6.04%);
}

.about__content {
  max-width: 100%;
  max-height: auto;
  margin: auto;
 
}
.about__descr {
  max-width: 969px;
  height: 72px;
  color: #FFF;
  font-family: Karla;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

/* Секция Store */
.store {
  width: 100vw;
  height: 100vh;
  background-color: #D53005;

  
}

.main-page__title {
  color:#fff;
}
.store__content {
  position: relative;
  width: 100%;
  display: flex;
  height: 685px;
  justify-content: flex-start;
  overflow: hidden;

  
}
.store__descr-img {
  width: 1168px;
  height: 685px;
  position: absolute;
  left: 254px;
  top: 0px;
  bottom: 0;
  margin: 0;
  transform: translateX(64px);
}

.player-max.filter1_dd_20_9{
cursor: pointer;
}
.store__descr-img--min{
  display: none;
}
.btn-pausa__link {
  /*z-index: 1;*/
  cursor: pointer;
}
.btn-next__link{
  cursor: pointer;
}
.btn-back__link {
  cursor: pointer;
}
.store__image {

}
.store__descr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:135px;
  max-width:456px;
  position: relative;
}
.download__button {
  width: 240px;
  height: 60px;
  border-radius: 30px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.download__button--dark {
  background: rgba(2, 2, 2, 0.90);
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.10), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
}
.download__button--light {
  background: #E3E3E3;
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.10), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
}

.store__descr-list {
  padding: 75px 91px 0 91px;
  display: flex;
  flex-direction: column;
  gap:48px;
}

.descr-list-inner {
  max-width: 431px;
  text-align: center;
  color: #FFF;
  font-family: Montserrat;
  /*position: absolute;*/
  left: 0;
}
.item-inner__text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  width: 431px;
}
.item-inner__text--bold {
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 17px;
}
.item-inner__text--regular {
  line-height: normal;
}

.item-inner__text--link {
  color: rgba(4, 4, 4, 0.80);
  text-decoration: underline;
}
.item-inner__text--link:visited {
  color: rgba(4, 4, 4, 0.80);
  text-decoration: underline;
}
.item-inner__text--link:hover{
  color: rgba(4, 4, 4, 0.80);
  text-decoration: underline;
}
/*FOOTER*/

.footer {
  background: linear-gradient(180deg, #D53005 0%, #000 4.01%);
  width: 100vw;
  
}
.footer__container {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 536px;
  padding: 120px 62px 74px 110px;
  display: flex;
  flex-direction: column;
  gap:76px;
}
.footer__menu {

  padding-left: 342px;
  padding-right: 62px;
  display: flex;


}
.footer__item {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  width: auto;
  white-space:nowrap;
  
}
.footer__list {
  display: flex;
  padding-top: 0;
  gap:147px;
  line-height: 1.8;
  flex-wrap:nowrap;

}
.footer__item-record {
  display: block;
}
.footer__item-ac2 {
  position: absolute;
  left:0;
  right:auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*opacity: 0;*/
}
.footer__item-record--title{

}
.footer__conditions{
  display: flex;
  align-items: flex-end;
  gap:99px;
}
.footer-descr__title{
  display: block;
  max-width: 350px;
  max-height: 128px;
  padding-bottom: 0;
  line-height: 43px;
  color: #FFF;
  font-family: Kenia;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}
.footer__link-logo{

}
.footer__descr-list {
  display: flex;
  gap:99px;
  line-height: 0;
  color: #FFF;
  text-decoration: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.footer__link--title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer__link{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__menu-btn {
  display: none;
}


